*{
    margin: 0;
    padding: 0;
}

/* share style */
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900;
}
.cmn_clr{
    color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border: none;
    padding: 19px 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.section_heading{
    max-width: 827px;
    margin: 0 auto;
    text-align: center;
}
.section_heading h2{
    color: #181818;
    line-height: 35px;
    font-weight: bold;
    
}
.section_heading p{
    margin: 30px auto; 
    line-height: 30px;
    color: #757575;
    font-size: 18px;
}


/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}

/* nav part start here */
.nav{
    width: 84%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}
.nav_list ul{
    display: flex;
    gap: 51px;
    align-items: center;
}
.nav_list ul li{
    list-style: none;
}
.nav_list ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

/* nav part end here */

/* banner part start here */
.banner{
    margin: 46px 35px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner_content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner_content{
    max-width: 585px;
}
.banner_content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.banner_content p{
    font-size: 18px;
    color: #171717;
    line-height: 30px;
    margin-bottom: 30px;
}
.banner .banner_img img{
    max-width: 585px;
    vertical-align: middle;
}
/* banner part end here */

/* about part start here */
.about{
    max-width: 1140px;
    padding-top: 130px;
    margin: 0 auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.about_container{
    max-width: 827px;
    padding: 130px 155px;
    background-color:#FFF8F3 ;
    text-align: center;
}

.about_info{
    display: flex;
    justify-content: space-between;
    
}
.about_info-card p {
    color: #181818;
    font-weight: 20px;
}
.about_info-card h4{
    color:#474747 ;
    font-weight: 20px;
    line-height: 30px;
}
/* skill part start here */
#skills{
    padding-top: 130px;
}

#skills .skill_container{
    width: 84%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skill_container .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skill_card{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 #0000005e;
    max-width: 267px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.skill_card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill_card h3{
    font-size: 20px;
    margin-bottom: 20px;
    color: #181818;
}
.skill_card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}